.logo{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    background-image: url(https://picsum.photos/id/1/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
